html{
    font-family: Helvetica;
}

.main-heading{
    background-image: url("../images/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.items{
    font-size: 32px;
    color: white;
    font-weight: bold;
}

#brushes h2.items{
    background-color: mediumspringgreen;
}

#frames h2.items{
    background-color: lightcoral;
}

#paint h2.items{
    background-color: skyblue;
}

.price{
    font-weight: bold;
    color: blue;
}